* {
    padding: 0;
    margin: 0;
    color: #fff;

}

#root {
    display: flex;
    height: 100vh;
    
}

section {
    display: flex;
    width: 100%;
    box-sizing: content-box;
}

body, 
html {
    background-color: #1E1E1E;
}

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 36px;
    user-select: none;
}

p {
    font-size: 16px;
}

.full-note {
    width: 100%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 30px;
    gap: 20px;
    box-sizing: content-box;
    margin: 20px 80px 20px 40px;
}

textarea,
.title {
    background: transparent;
    border: none;
    width: 100%;
    padding: 10px;
}

.title {
    height: 50px;
    font-size: 40px;
    border-bottom: solid 2px #FFF;
}

textarea {
    height: 100%;
    font-size: 20px;
    resize: none;
}

.buttons {
    position: absolute;
    right: 0;
    top: 50%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    background: #2F2F2F;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.color {
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.color::-webkit-color-swatch {
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

.color::-moz-color-swatch {
    border-radius: 10px;
    border: dashed 1px #fff;
  }

  select,
  option {
    color: #000000;
  }

select {
    border-radius: 5px;
   height: 40px;
   line-height: 40px;
   width: 40px;
   border: solid 1px #bbb;
   background-color: #fff;
   box-sizing: border-box;
   clear: both;
   cursor: pointer;
}